# ignore all files first , then exclude some files later
/*

# projects
!/News
!/updateself
# git
!/.gitignore
!/.gitmodules
# gradle
!/build.gradle
!/settings.gradle
!/gradlew
!/gradlew.bat
!/gradle.properties